.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(195, 225, 20);
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(27, 182, 233);
}

.links a {
  margin-left: 20px;
}
